.app {
  background-color: #051923;
  padding: 2rem;
}

.app--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0;
  margin-bottom: 5rem;
}

.app--movies {
  width: 100%;
}

.app--movies h1 {
  color: #e0e1dd;
}

.app--count {
  text-align: center;
  color: #e0e1dd;
  font-family: "Libre Baskerville", serif;
}

.title {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  color: #e0e1dd;
}

.handwriting {
  font-family: "Nanum Pen Script", cursive;
  color: red;
  font-size: 2.5rem;
}
